<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SalesOrderApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">Privacy</a>
                </li>
                </ul>
        </div>

    </div>
    @RenderBody()

    <footer class="m-5">
        <span>&copy; 2023 SalesOrdersApp - Privacy</span>
    </footer>

</body>
</html>