@using Microsoft.AspNetCore.Identity;
@using MVCHOT2.Models;
@inject SignInManager<User> signInManager

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">SalesOrderApp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>
					</li>
					<li class="nav-item active">
						<a asp-action="Index" asp-controller="Products" class="nav-link">Products</a>
					</li>
					<li class="nav-item active">
						<a asp-action="Index" asp-controller="Categories" class="nav-link">Categories</a>
					</li>
					<li class="nav-item active">
						<a asp-action="Index" asp-controller="Customers" class="nav-link">Customers</a>
					</li>
					@if (signInManager.IsSignedIn(User))
					{
						<li class="nav-item active">
							<span class="nav-link">@User.Identity.Name</span>
						</li>
						<li class="nav-item active">
							<form method="post" asp-action="LogOut" asp-controller="Account"
							  asp-area="">
								<input type="submit" value="Log Out"
									   class="btn nav-link" />
								<span class="text-light">Log Out</span>
							</form>
						</li>

					}
					else
					{

						var action = ViewContext.RouteData.Values["action"]?.ToString();

						<li class="nav-item active">
							<a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
						</li>
						<li class="nav-item active">
							<a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
						</li>

					}
					@if (signInManager.IsSignedIn(User))
					{
						@if (User.IsInRole("Admin"))
						{
							<li class="nav-item active">
								<a asp-action="Index" asp-controller="User" class="nav-link">User</a>
							</li>
						}
					}

					<li class="nav-item active">
						<a href="#" class="nav-link">Privacy</a>
					</li>
				</ul>
			</div>
			</nav>
	</div>
	@RenderBody()

	<footer class="m-5 border-top">
		<span>&copy; 2023 SalesOrdersApp - Privacy</span>
	</footer>

</body>
</html>