@using MVCHOT2.Models;
@model Category
@{
	ViewData["Title"] = "Delete A Category";
	Layout = "_Layout";

}
<h2>Confirm Deletion</h2>
<h3>Are you sure want to delete @Model.CategoryName</h3>
<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="CategoryID" />
	<button type="submit" class="btn btn-primary">Yes</button>
	<a asp-action="Index" asp-controller="Home" class="btn btn-secondary">No</a>
</form>
