@{
	Layout = "_Layout";
}
<div class="m-5">
	<h1>SalesOrder Database Application</h1>
	<p>A Perpetual SQL Server database program</p>
	<h2>Version01</h2>
	<ul class="list-group">
		<li class="list-group-item"><a asp-controller="Product" asp-action="Index">Manage Products</a> </li>
		<li class="list-group-item"><a href="#">Manage Categories</a> </li>
		<li class="list-group-item"><a href="#">Manage Vendors</a> </li>
		<li class="list-group-item"><a href="#">Manage Customers</a></li>
		<li class="list-group-item"><a href="#"> Manage Employees</a></li>
	</ul>

</div>
